h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }

.active {
  color: #006FDD !important; }

.navbar {
  z-index: 999; }
  .navbar .nav-link.active {
    color: #006FDD !important; }
  .navbar .nav-item:hover a {
    color: #006FDD;
    font-weight: 500 !important; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

input:focus-visible {
  outline: none !important; }

.navbar {
  background-color: #fff;
  height: 80px;
  border-bottom: 1px solid #F0F4FF; }
  @media (min-width: 320px) and (max-width: 991px) {
    .navbar {
      height: 100px !important; } }
  @media (min-width: 320px) and (max-width: 991px) {
    .navbar .navbar-collapse {
      background: #fff;
      z-index: 999; } }

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important; }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: transparent; }

@media (min-width: 1400px) {
  .desktop {
    display: block; } }
@media (min-width: 1200px) and (max-width: 1399px) {
  .desktop {
    display: block; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .desktop {
    display: block; } }
@media (min-width: 320px) and (max-width: 991px) {
  .desktop {
    display: none; } }

@media (min-width: 1400px) {
  .mobile {
    display: none; } }
@media (min-width: 1200px) and (max-width: 1399px) {
  .mobile {
    display: none; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .mobile {
    display: none; } }
@media (min-width: 320px) and (max-width: 991px) {
  .mobile {
    display: block; } }

.myContainer {
  width: 1050px;
  margin: 0 auto; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .myContainer {
      width: 960px;
      margin: 0 auto; } }
  @media (min-width: 320px) and (max-width: 991px) {
    .myContainer {
      width: calc(100% - 30px);
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between; } }

.subheading h3 {
  font-size: 40px;
  font-weight: 900;
  font-family: mainFontBlack;
  color: #001E7C;
  line-height: 52px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .subheading h3 {
      font-size: 20px;
      font-weight: 900;
      font-family: mainFontBlack; } }
.subheading p {
  font-size: 16px;
  font-weight: 500;
  font-family: mainFont;
  color: #869BAD;
  margin-bottom: 40px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .subheading p {
      font-size: 14px;
      font-weight: 500;
      font-family: mainFontBlack; } }

.next {
  width: 40px;
  height: 40px;
  background: #006FDD;
  transition: 0.4s;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 888; }

.next::before {
  line-height: 40px; }

.prev {
  width: 40px;
  height: 40px;
  background-color: #869BAD;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  transition: 0.4s;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 888; }
  @media (min-width: 320px) and (max-width: 991px) {
    .prev {
      display: none !important; } }

.prev::before {
  line-height: 40px; }

.topslider .next.slick-disabled:last-child {
  background-color: #869BAD !important;
  /* Set your desired color for the last slide arrow */ }
.topslider .prev.slick-enabled {
  background-color: #006FDD !important; }

.ftsmheading {
  margin-top: 35px; }
  .ftsmheading p {
    font-size: 16px;
    font-weight: 700;
    font-family: mainFont;
    color: #001E7C; }

.whatsapp {
  position: fixed !important;
  position: -webkit-sticky;
  width: 80px;
  height: 80px;
  right: 40px;
  bottom: 40px;
  background: #25D366;
  border-radius: 85px;
  z-index: 999;
  /* left: 0; */
  text-align: center; }
  .whatsapp img {
    width: 56px;
    height: 56px;
    margin-top: 12px; }

.pdt100 {
  padding-top: 100px; }

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px; }

.checkbox input {
  position: absolute;
  width: 0px;
  left: 50px;
  opacity: 0;
  cursor: pointer; }

.checkbox .checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 39px !important;
  height: 25px !important;
  background: white;
  border-radius: 3px;
  outline: 1px solid #acacac;
  transition: all 0.2s ease;
  margin-right: 12px; }

.checkbox:hover .checkmark {
  background: #f4f4f5;
  transition: all 0.2s ease;
  border: 0; }

.checkbox input:checked ~ .checkmark {
  background: #3f7fed;
  outline: 1px solid #5f7ef0; }

.checkbox .checkmark::after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  top: 40%;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: all 0.2s ease; }

input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none;
  background-color: #fff;
  /* Specify the desired background color */
  border-radius: 2px;
  /* Add border-radius for a rounded checkbox appearance */
  margin-right: 6px;
  /* Add some spacing between the checkbox and label */ }

.checkbox input:checked ~ .checkmark::after {
  opacity: 1;
  transition: all 0.2s ease; }

label {
  font-size: 16px;
  font-weight: 500;
  font-family: mainFont;
  color: #869BAD; }

.mybutton button, .viewmorebutton button {
  display: flex;
  align-items: center;
  justify-content: center; }
.mybutton p, .viewmorebutton p {
  margin-bottom: 0;
  transition: 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 700;
  font-family: mainFont; }
.mybutton img, .viewmorebutton img {
  transition: 0.2s ease-in-out; }
.mybutton:hover img, .viewmorebutton:hover img {
  margin-left: 8px; }
.mybutton:hover p, .viewmorebutton:hover p {
  margin-right: 8px; }

.underconstructionmain {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  .underconstructionmain a {
    color: #006FDD;
    text-decoration: underline !important; }

@font-face {
  font-family: mainFont;
  src: url(../fonts/Satoshi-Regular.ttf); }
@font-face {
  font-family: mainFontBlack;
  src: url(../fonts/Satoshi-Black.ttf); }
.header {
  height: 50px;
  width: 100%;
  background-color: #006FDD;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: mainFont;
    color: #F0F4FF; }
    @media (min-width: 320px) and (max-width: 991px) {
      .header h3 {
        font-size: 16px;
        font-weight: 700;
        font-family: mainFont; } }

@media (min-width: 320px) and (max-width: 991px) {
  .navbar .navbar-nav {
    text-align: center; } }
.navbar .navbar-brand {
  margin-right: 38px; }
.navbar .nav-item .nav-link {
  padding: 0 24px;
  font-size: 16px;
  font-weight: 500;
  font-family: mainFont;
  color: #000;
  text-transform: uppercase; }
  @media (min-width: 320px) and (max-width: 991px) {
    .navbar .nav-item .nav-link {
      margin: 14px 0; } }
.navbar .navbar-collapse .mybutton {
  display: flex;
  justify-content: center;
  align-items: center; }
  .navbar .navbar-collapse .mybutton button {
    border-radius: 79px;
    background: #001E7C;
    width: 190px;
    height: 54px;
    align-items: center;
    gap: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: mainFont;
    color: #F0F4FF; }
    @media (min-width: 320px) and (max-width: 991px) {
      .navbar .navbar-collapse .mybutton button {
        margin-bottom: 30px; } }
    .navbar .navbar-collapse .mybutton button img {
      margin-left: 10px; }

.banner {
  height: 580px;
  width: 100%;
  position: relative; }
  .banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Adjust the video sizing to cover the entire div */ }
  .banner.bannermobile {
    height: 700px !important; }
  .banner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(240, 244, 255, 0.8);
    display: flex;
    align-items: center; }
    @media (min-width: 320px) and (max-width: 991px) {
      .banner .overlay {
        display: unset;
        padding-top: 73px; } }
    .banner .overlay .left h1 {
      font-size: 50px;
      font-weight: 900;
      font-family: mainFontBlack;
      color: #001E7C; }
      @media (min-width: 320px) and (max-width: 991px) {
        .banner .overlay .left h1 {
          font-size: 30px;
          font-weight: 900;
          font-family: mainFontBlack; } }
    .banner .overlay .left p {
      color: #869BAD; }
    .banner .overlay .rightform {
      padding: 37px 20px;
      background-color: #fff; }
      @media (min-width: 320px) and (max-width: 991px) {
        .banner .overlay .rightform {
          padding: 37px 20px;
          background-color: #fff;
          position: absolute;
          top: calc(100% - 405px);
          left: 50%;
          transform: translateX(-50%);
          width: 86%;
          border: 1px solid #F0F4FF; } }
      .banner .overlay .rightform .bannerformbutton button {
        width: 117px;
        height: 40px;
        margin: 0 auto;
        border-radius: 5px;
        background: #006FDD;
        display: flex;
        justify-content: center;
        height: 40px;
        padding: 16px 32px;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        font-size: 16px;
        font-weight: 700;
        font-family: mainFont;
        color: #F0F4FF;
        border: 0;
        margin-top: 77px; }
        @media (min-width: 320px) and (max-width: 991px) {
          .banner .overlay .rightform .bannerformbutton button {
            margin-top: 40px; } }
      .banner .overlay .rightform h5 {
        text-align: center;
        color: #001E7C;
        font-size: 25px;
        font-weight: 700;
        font-family: mainFont;
        margin-bottom: 40px; }
      .banner .overlay .rightform form input {
        border-radius: 5px;
        background: #F0F4FF;
        display: inline-flex;
        padding: 11px 100px 10px 13px;
        align-items: center;
        width: 100%;
        border: 0;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 400;
        font-family: mainFont; }

.countersection {
  padding-top: 100px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .countersection {
      padding-top: 150px; } }
  .countersection .smbox {
    width: 150px;
    height: 150px;
    border: 1px solid #E8E8E8;
    padding: 14px;
    text-align: center; }
    .countersection .smbox h5 {
      font-size: 16px;
      font-weight: 700;
      font-family: mainFont;
      color: #006FDD;
      text-align: left;
      margin-top: 17px; }
    .countersection .smbox p {
      font-size: 16px;
      font-weight: 400;
      font-family: mainFont;
      color: #001223; }
    @media (min-width: 320px) and (max-width: 991px) {
      .countersection .smbox {
        margin-bottom: 30px; } }

.wherecanyoustudy {
  padding-top: 100px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .wherecanyoustudy {
      padding-top: 50px; } }
  .wherecanyoustudy img {
    width: 100%; }
  .wherecanyoustudy .imgbox {
    margin-bottom: calc(var(--bs-gutter-x));
    background-color: red;
    position: relative;
    overflow: hidden; }
    .wherecanyoustudy .imgbox img {
      transition: 0.2s ease-in-out; }
    .wherecanyoustudy .imgbox:hover img {
      overflow: hidden;
      transform: scale(1.05); }
    .wherecanyoustudy .imgbox .overlay {
      position: absolute;
      background-color: #006FDD;
      color: #fff;
      bottom: 0px;
      right: 0px;
      height: 30px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      z-index: 888; }
      .wherecanyoustudy .imgbox .overlay p {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        font-family: mainFontBlack; }

.ourservice {
  padding-top: 140px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .ourservice {
      padding-top: 50px; } }
  .ourservice img {
    margin-bottom: calc(var(--bs-gutter-x)); }
  @media (min-width: 320px) and (max-width: 991px) {
    .ourservice .wrap {
      display: flex;
      flex-wrap: wrap; }
      .ourservice .wrap img {
        width: 40px;
        height: 40px; } }
  .ourservice .spill {
    display: flex;
    align-items: center; }
    .ourservice .spill img {
      margin-bottom: 0; }
    .ourservice .spill p {
      margin-left: 22px;
      font-size: 20px;
      font-weight: 500;
      font-family: mainFont;
      margin-bottom: 0; }
    @media (min-width: 320px) and (max-width: 991px) {
      .ourservice .spill {
        width: 50%;
        margin-bottom: 20px; }
        .ourservice .spill p {
          margin-left: 15px;
          font-size: 14px;
          font-weight: 500;
          font-family: mainFont;
          margin-bottom: 0; } }

.topuniversities {
  padding-top: 150px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .topuniversities {
      padding-top: 50px; } }
  .topuniversities .viewmorebutton {
    width: 174px; }
    .topuniversities .viewmorebutton button {
      background-color: #006FDD;
      width: 100%;
      height: 50px;
      border-radius: 43px;
      font-size: 16px;
      font-weight: 700;
      font-family: mainFont;
      color: #F0F4FF;
      border: 0; }
      .topuniversities .viewmorebutton button img {
        margin-left: 10px; }

.ourpartners {
  padding-top: 150px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .ourpartners {
      padding-top: 50px; } }
  .ourpartners .partnersinglebox {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--bs-gutter-x));
    transition: 0.4s;
    box-shadow: 0px 3px 10px 0px rgba(0, 30, 124, 0.1); }
    .ourpartners .partnersinglebox img {
      height: 100%; }
      @media (min-width: 320px) and (max-width: 991px) {
        .ourpartners .partnersinglebox img {
          width: 100%; } }

.stories {
  padding-top: 150px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .stories {
      padding-top: 50px; } }
  .stories .subheading p {
    margin-bottom: 85px; }
    @media (min-width: 320px) and (max-width: 991px) {
      .stories .subheading p {
        margin-bottom: 25px !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .stories .firstrowpd {
      padding-right: 0;
      padding-left: 0; } }
  @media (min-width: 320px) and (max-width: 991px) {
    .stories .firstrowpd img {
      width: 100%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .stories .firstrowpd .firstimg {
      width: 100%;
      height: 324px !important; } }
  .stories img {
    margin-bottom: 15px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .stories img {
        width: 100%; } }
  .stories .myrow {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .stories .myrow {
        padding: 0 10px; } }
    .stories .myrow .column img {
      margin-bottom: 15px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .stories .myrow .column img {
          width: 100%; }
          .stories .myrow .column img:last-child {
            margin-bottom: 0; } }
    .stories .myrow .column.two {
      width: calc(40% - 30px); }
    .stories .myrow .column.one {
      width: 25%; }

.header2 {
  margin-top: 130px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .header2 {
      margin-top: 50px !important; } }

.footer {
  padding-top: 50px;
  background-color: #F0F4FF; }
  @media (min-width: 320px) and (max-width: 991px) {
    .footer {
      padding-top: 0 !important; } }
  .footer .footerlogoimg {
    margin-bottom: 10px; }
  .footer .socialicons {
    display: flex;
    margin-bottom: 84px; }
    @media (min-width: 320px) and (max-width: 991px) {
      .footer .socialicons {
        justify-content: center;
        margin: 50px 0 37px 0; } }
    .footer .socialicons .ftsmbox {
      margin-right: 15px;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer .socialicons .ftsmbox i {
        font-size: 25px;
        color: #869BAD; }
  .footer .ftlist ul {
    padding-left: 0; }
    .footer .ftlist ul li {
      line-height: 32px; }
      .footer .ftlist ul li a {
        font-size: 14px;
        font-weight: 400;
        font-family: mainFont;
        color: #869BAD; }
  .footer .emailinput {
    position: relative; }
    .footer .emailinput button {
      position: absolute;
      width: 120px;
      height: 50px;
      background-color: #001E7C;
      color: #fff;
      right: 0;
      top: 0;
      border: 0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      font-family: mainFont; }
    .footer .emailinput input {
      border: 0;
      width: 100%;
      height: 50px;
      background-color: #fff;
      padding-left: 13px;
      font-size: 14px;
      font-weight: 400;
      font-family: mainFont; }
      .footer .emailinput input::placeholder {
        font-size: 14px;
        font-weight: 400;
        font-family: mainFont;
        color: #869BAD; }
    .footer .emailinput p {
      font-size: 14px;
      font-weight: 400;
      font-family: mainFont;
      color: #869BAD;
      margin-top: 14px; }
  .footer .copyright {
    height: 66px;
    border-top: 1px solid rgba(134, 155, 173, 0.5); }
    @media (min-width: 320px) and (max-width: 991px) {
      .footer .copyright {
        height: 130px;
        padding-top: 15px; } }
    .footer .copyright h6 {
      font-size: 12px;
      font-weight: 400;
      font-family: mainFont;
      color: #869BAD;
      line-height: 66px; }
      @media (min-width: 320px) and (max-width: 991px) {
        .footer .copyright h6 {
          height: 28px; } }

.aboutusmain {
  padding-top: 100px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .aboutusmain {
      padding-top: 50px; } }
  .aboutusmain .ourmission {
    height: 248px;
    width: 100%;
    background-color: #F0F4FF;
    padding: 48px 61px;
    margin-top: 60px; }
    @media (min-width: 320px) and (max-width: 991px) {
      .aboutusmain .ourmission {
        height: unset;
        padding-bottom: 0; } }

.ourserviceaboutpage {
  margin-top: 100px !important; }
  @media (min-width: 320px) and (max-width: 991px) {
    .ourserviceaboutpage {
      margin-top: 65px !important; } }

.lleft img {
  margin-right: 30px;
  width: 60px; }

.rright h4 {
  margin-bottom: 20px; }

.ourservicecontent h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: mainFont;
  color: #001223; }

.whychooseipe {
  padding-top: 100px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .whychooseipe {
      padding-top: 20px !important; } }
  .whychooseipe .subheading h3 {
    padding-bottom: 100px; }
    @media (min-width: 320px) and (max-width: 991px) {
      .whychooseipe .subheading h3 {
        padding-bottom: 50px; } }
  .whychooseipe .wcubox {
    background-color: #F0F4FF;
    height: 170px;
    width: 100%;
    padding: 49px 25px 21px 26px;
    position: relative;
    margin-bottom: 60px; }
    @media (min-width: 320px) and (max-width: 991px) {
      .whychooseipe .wcubox {
        height: 244px; } }
    .whychooseipe .wcubox.wsubox {
      height: 230px; }
    .whychooseipe .wcubox .innersm {
      position: absolute;
      left: 26px;
      top: -30px;
      width: 60px;
      height: 60px;
      background-color: #fff;
      box-shadow: 0px 3px 10px 0px rgba(0, 30, 124, 0.1);
      display: flex;
      align-items: center;
      justify-content: center; }
    .whychooseipe .wcubox h5 {
      font-size: 20px;
      font-weight: 700;
      font-family: mainFont;
      color: #001223; }
    .whychooseipe .wcubox p {
      font-size: 16px;
      font-weight: 500;
      font-family: mainFont;
      color: #001223;
      padding-top: 6px; }
      @media (min-width: 320px) and (max-width: 991px) {
        .whychooseipe .wcubox p {
          font-size: 12px;
          font-weight: 500;
          font-family: mainFont; } }

.header3 {
  margin-top: 0; }

.studyinusamain {
  padding-top: 80px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .studyinusamain {
      padding-top: 0 !important; } }

.whystdus {
  padding-top: 100px; }
  .whystdus .subheading h3 {
    padding-bottom: 20px; }
  .whystdus .subheading p {
    width: 749px;
    margin: 0 auto; }
    @media (min-width: 320px) and (max-width: 991px) {
      .whystdus .subheading p {
        width: unset; } }

.everythingyntkcards .subheading {
  padding-bottom: 58px; }
.everythingyntkcards .eyntkboxall .eyntkbox {
  height: 250px;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  padding: 13px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .everythingyntkcards .eyntkboxall .eyntkbox {
      margin-bottom: 30px; } }
  .everythingyntkcards .eyntkboxall .eyntkbox .wrap {
    text-align: center; }
  .everythingyntkcards .eyntkboxall .eyntkbox h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: mainFont;
    color: #001223;
    padding: 15px 0; }
  .everythingyntkcards .eyntkboxall .eyntkbox p {
    font-size: 16px;
    font-weight: 500;
    font-family: mainFont;
    color: #869BAD; }

.evrthngabtstdusa .subheading {
  padding-top: 100px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .evrthngabtstdusa .subheading {
      padding-top: 50px !important; } }
.evrthngabtstdusa .accordion {
  margin-top: 50px; }
  .evrthngabtstdusa .accordion .accordion-button:not(.collapsed) {
    font-size: 20px;
    font-weight: 600;
    font-family: mainFont;
    color: #001223;
    background-color: #fff;
    box-shadow: none; }
  .evrthngabtstdusa .accordion .accordion-button {
    font-size: 20px;
    font-weight: 600;
    font-family: mainFont;
    color: #001223;
    background-color: #fff;
    box-shadow: none; }
  .evrthngabtstdusa .accordion .accordion-item {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    background: #FFF; }
  .evrthngabtstdusa .accordion .accordion-body ul {
    list-style-type: disc; }
    .evrthngabtstdusa .accordion .accordion-body ul li {
      color: #869BAD;
      font-size: 16px;
      font-weight: 500;
      font-family: mainFont; }

.connectwithexpert {
  padding: 53px 60px;
  border-radius: 5px;
  background: #F0F4FF;
  margin-top: 100px;
  margin-bottom: 110px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .connectwithexpert {
      padding: 53px 20px; } }
  .connectwithexpert .subheading p {
    margin-top: 25px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .connectwithexpert .subheading h3 {
      line-height: 25px !important; } }
  .connectwithexpert .mybutton2 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .connectwithexpert .mybutton2 button {
      border-radius: 79px;
      background: #006FDD;
      width: 190px;
      height: 54px;
      align-items: center;
      gap: 10px;
      border: 0;
      font-size: 16px;
      font-weight: 700;
      font-family: mainFont;
      color: #F0F4FF; }

.newsandeventsmain {
  padding-top: 100px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .newsandeventsmain {
      padding-top: 50px !important; } }

.necards .necard {
  height: 558px;
  border-radius: 5px;
  background: #F0F4FF;
  position: relative;
  margin-bottom: calc(var(--bs-gutter-x)); }
  .necards .necard .necardsbody {
    padding: 15px 15px 20px 15px; }
    .necards .necard .necardsbody h4 {
      font-size: 20px;
      font-weight: 700;
      font-family: mainFont;
      color: #001223; }
    .necards .necard .necardsbody p {
      font-size: 16px;
      font-weight: 500;
      font-family: mainFont;
      color: #869BAD;
      margin-top: 15px; }
    .necards .necard .necardsbody .netimings {
      margin-top: 60px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      padding-left: 15px; }
    .necards .necard .necardsbody .netimingsbar {
      height: 33px;
      display: flex;
      align-items: center; }
      .necards .necard .necardsbody .netimingsbar img {
        width: 25px;
        height: 25px;
        margin-right: 17px; }

.newspagebottomheader {
  margin-top: 100px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .newspagebottomheader {
      margin-top: 50px !important; } }

.nedbanner {
  background: url(../images/nedbanner.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px; }
  .nedbanner.mobile {
    background: url(../images/nedetailbannermb.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px; }

.nedmain {
  padding-top: 50px; }
  .nedmain .subheading h3 {
    font-size: 40px;
    font-weight: 700;
    font-family: mainFont;
    color: #001223; }
    @media (min-width: 320px) and (max-width: 991px) {
      .nedmain .subheading h3 {
        font-size: 20px;
        font-weight: 700;
        font-family: mainFont;
        line-height: 30px; } }
  .nedmain .neform {
    border-radius: 5px;
    background: #F0F4FF;
    padding: 24px 20px 24px 20px;
    text-align: center; }
  .nedmain h6 {
    font-size: 25px;
    font-weight: 700;
    font-family: mainFont;
    color: #001E7C;
    margin-bottom: 25px; }
  .nedmain form input {
    border-radius: 5px;
    background: #fff;
    display: inline-flex;
    padding: 11px 100px 10px 13px;
    align-items: center;
    width: 100%;
    border: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: mainFont; }
  .nedmain .bannerformbutton button {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    background: #006FDD;
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: mainFont;
    color: #F0F4FF;
    border: 0;
    margin-top: 24px; }
  .nedmain .netimings {
    margin-top: 60px;
    width: 100%;
    padding-left: 15px; }
  .nedmain .netimingsbar {
    height: 33px;
    display: flex;
    align-items: center; }
    .nedmain .netimingsbar img {
      width: 25px;
      height: 25px;
      margin-right: 17px; }
    .nedmain .netimingsbar p {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 500;
      font-family: mainFont;
      color: #001223; }

.stdabrdipe {
  padding-top: 100px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .stdabrdipe {
      padding-top: 50px !important; } }

.contactpage .map {
  margin-top: 55px; }
  @media (min-width: 320px) and (max-width: 991px) {
    .contactpage .map {
      margin-bottom: 40px; } }
.contactpage .cbar {
  display: flex;
  align-items: center;
  padding: 25px; }
  .contactpage .cbar .detail h4 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: mainFont;
    margin-bottom: 6px; }
  .contactpage .cbar .detail p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: mainFont;
    color: #869BAD; }
  .contactpage .cbar img {
    margin-right: 22px; }
.contactpage .neform {
  border-radius: 5px;
  background: #F0F4FF;
  padding: 44px 20px 24px 20px;
  text-align: center; }
.contactpage form input {
  border-radius: 5px;
  background: #fff;
  display: inline-flex;
  padding: 11px 100px 10px 13px;
  align-items: center;
  width: 100%;
  border: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: mainFont; }
.contactpage select {
  height: 42px;
  border: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: mainFont !important;
  color: #869BAD !important; }
  .contactpage select > option {
    font-size: 14px;
    font-weight: 400;
    font-family: mainFont !important;
    color: #869BAD !important; }
.contactpage .contactformbutton {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contactpage .contactformbutton button {
    border-radius: 5px;
    background: #006FDD;
    margin-top: 50px;
    width: 100%;
    height: 45px;
    align-items: center;
    gap: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: mainFont;
    color: #F0F4FF; }
    .contactpage .contactformbutton button img {
      margin-left: 10px;
      margin-top: -3px; }

.drpdwn {
  position: fixed;
  width: 950px;
  height: 290px;
  background-color: #006FDD;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s ease-in-out;
  padding: 55px;
  z-index: 999; }
  .drpdwn .drpitem {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .drpdwn .drpitem .text p {
      font-size: 16px;
      font-weight: 700;
      font-family: mainFont;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-left: 15px; }

.studyinusamain .subheading p {
  margin-top: 15px;
  margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */
