@import './partials/common';
@import './partials/mixins';
@font-face {
    font-family: mainFont;
    src: url(../fonts/Satoshi-Regular.ttf);
  }
@font-face {
    font-family: mainFontBlack;
    src: url(../fonts/Satoshi-Black.ttf);
  }

.header{
    height: 50px;
    width: 100%;
    background-color: #006FDD;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        @include myfont(20px,700,mainFont);
        color:#F0F4FF;
        @include media(xsmDevice){
            @include myfont(16px,700,mainFont);
        }
    }
}
.navbar{
    .navbar-nav{
        @include media(xsmDevice){
            text-align: center;
        }
    }
    .navbar-brand{
        margin-right: 38px;
    }
    .nav-item{
        .nav-link{
            padding:0 24px;
            @include myfont(16px,500,mainFont);
            color:#000;
            text-transform: uppercase;
            @include media(xsmDevice){
                margin:14px 0;
            }
        }
    }
    .navbar-collapse{

        .mybutton{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                @include media(xsmDevice){
                    margin-bottom: 30px;
                }
                border-radius: 79px;
                background: #001E7C;
                
                width: 190px;
                height: 54px;
                align-items: center;
                gap: 10px;
                border:0;
                
                @include myfont(16px,700,mainFont);
                color:#F0F4FF;
                img{
                    margin-left: 10px;
                    
                }
            }
        }
    }
}
.banner{
    // background: url(../images/bannermainimg.png) ;
    // background-position: center;
    // background-size: cover;
    height: 580px;
    width: 100%;
    position:relative;
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Adjust the video sizing to cover the entire div */
      }
    &.bannermobile{
        height: 700px!important;
        
    }
    .overlay{
        position:absolute;
        width: 100%;
        height: 100%;
        // background:rgba(255, 255, 255, 0.5);
        // background:rgba(0, 111, 221, 0.8);
        background:rgba(240, 244, 255, 0.8);
        display: flex;
        align-items: center;
        @include media(xsmDevice){
            display: unset;
            padding-top: 73px;
        }
        .left{
            
            h1{
                @include myfont(50px,900,mainFontBlack);
                color: #001E7C;
                @include media(xsmDevice){
                    @include myfont(30px,900,mainFontBlack);
                }
            }
            p{

                color:#869BAD
            }
        }
        .rightform{
            padding:37px 20px;
            background-color: #fff;
            @include media(xsmDevice){
                padding: 37px 20px;
                background-color: #fff;
                position: absolute;
                top: calc(100% - 405px);
                left: 50%;
                transform: translateX(-50%);
                width: 86%;
                border: 1px solid #F0F4FF;

            }
            .bannerformbutton{
                
                button{
                    width: 117px;
                    height: 40px;
                    margin:0 auto;
                    border-radius: 5px;
                    background: #006FDD;
                    display: flex;
                    justify-content: center;
                    height: 40px;
                    padding: 16px 32px;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;
                    @include myfont(16px,700,mainFont);
                    color:#F0F4FF;
                    border:0;
                    margin-top: 77px;
                    @include media(xsmDevice)
                    {
                        margin-top: 40px;
                    }
                }
            }
            h5{
                text-align: center;
                color: #001E7C;                                
                 @include myfont(25px,700,mainFont);
                 margin-bottom: 40px;
            }
            form{
                input{
                    border-radius: 5px;
                    background: #F0F4FF;
                    display: inline-flex;
                    padding: 11px 100px 10px 13px;
                    align-items: center;
                    width: 100%;
                    border:0;
                    margin-bottom: 20px;
                    @include myfont(14px,400,mainFont);
                }
            }
        }
    }
}


.countersection{
    padding-top: 100px;
    @include media(xsmDevice){
        padding-top: 150px;
    }
    .smbox{
        width: 150px;
        height: 150px;
        border:1px solid #E8E8E8;
        padding:14px;
        text-align: center;
        h5{
            @include myfont(16px,700,mainFont);
            color:#006FDD;
            text-align: left;
            margin-top: 17px;
        }
        p{
            @include myfont(16px,400,mainFont);
            color:#001223;
        }
        @include media(xsmDevice){
            margin-bottom: 30px;
        }
    }
}

.wherecanyoustudy{
    padding-top: 100px;
    @include media(xsmDevice){
        padding-top: 50px;
    }
    
    img{
        
        width:100%;
    }

    .imgbox{
        margin-bottom: calc(var(--bs-gutter-x));
        background-color: red;
        position:relative;
        overflow: hidden;
        img{
            transition:0.2s ease-in-out;
        }
        &:hover{
            img{
                overflow: hidden;
                transform:scale(1.05);
               
            }
            
        }
        .overlay{
            
            position: absolute;
            background-color: #006FDD;
            color: #fff;
            bottom: 0px;
            right: 0px;
            height: 30px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            z-index: 888;

            p{
                margin-bottom: 0;
                @include myfont(16px,400,mainFontBlack);
            }
        }
    }
}

.ourservice{
    padding-top: 140px;
    @include media(xsmDevice){
        padding-top: 50px;
    }
    img{
        margin-bottom: calc(var(--bs-gutter-x));
    }
    .wrap{
        @include media(xsmDevice){
            display: flex;
            flex-wrap: wrap;
            img{
                width: 40px;
                height: 40px;
            }
            
        }
    }
    .spill{
        display: flex;
        align-items: center;
        img{
            margin-bottom: 0;
        }
        p{
            margin-left: 22px;
            @include myfont(20px,500,mainFont);
            margin-bottom: 0;
        }
        @include media(xsmDevice){
            width: 50%;
            margin-bottom: 20px;
            p{
                margin-left: 15px;
                @include myfont(14px,500,mainFont);
                margin-bottom: 0;
            }
        }
    }
}
.topuniversities{
    padding-top: 150px;
    @include media(xsmDevice){
        padding-top: 50px;
    }
    .viewmorebutton{
        width: 174px;
        button{
            background-color: #006FDD;
            width: 100%;
            height: 50px;
            border-radius: 43px;
            @include myfont(16px,700,mainFont);
            color:#F0F4FF;
            border:0;
            img{
                
                margin-left: 10px;
            }
        }
    }
}

.ourpartners{
    padding-top: 150px;
    @include media(xsmDevice){
        padding-top: 50px;
    }
    .partnersinglebox{
        height: 100px;
        width: 100%;
        border-radius: 5px;
        background: #FFF;        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: calc(var(--bs-gutter-x));
        transition:0.4s;
        box-shadow: 0px 3px 10px 0px rgba(0, 30, 124, 0.10);
        img{
            height: 100%;
            @include media(xsmDevice){
                width: 100%;
            }
        }
        &:hover{
        }
    }
}
.stories{
    padding-top: 150px;
    @include media(xsmDevice){
        padding-top: 50px;
    }
    .subheading{
        p{
            margin-bottom: 85px;
            @include media(xsmDevice){
                margin-bottom: 25px!important;
            }
        }
    }
    .firstrowpd{
        @include media(lgDevice){
            padding-right: 0;
            padding-left: 0;

        }
        @include media(xsmDevice){
            img{
                width: 100%;
            }
        }
       
        .firstimg{
            
                @include media(lgDevice){
                    width: 100%;
                    height: 324px!important;
                }
            
        }
    }
    img{
        margin-bottom: 15px;
        @include media(lgDevice){
            width: 100%;
        }
    }  
    .myrow{
        display: flex;
        justify-content: space-between;
        @include media(lgDevice){
            padding:0 10px;
        }
        .column{
            
            img{
                margin-bottom: 15px;
                @include media(lgDevice){
                    width: 100%;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }   
            &.two{
                width: calc(40% - 30px);
                
            }
            &.one{
                width: 25%;
                

                
            }
        }
    }
   
}
.header2{
    margin-top: 130px;
    @include media(xsmDevice){
        margin-top: 50px!important;
    }
}

.footer{
    padding-top: 50px;
    background-color: #F0F4FF;
    @include media(xsmDevice){
        padding-top: 0!important;
        // height: 665px;
    }
    .footerlogoimg{
        margin-bottom: 10px;
    }
    .socialicons{
        display: flex;
        margin-bottom: 84px;
        @include media(xsmDevice){
            justify-content: center;
            margin : 50px 0 37px 0;
        }
        .ftsmbox{
            margin-right: 15px;
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 25px;
                color:#869BAD;
            }
        }
    }
    .ftlist{
        ul{
            padding-left: 0;
            li{
                line-height: 32px;
                a{
                    @include myfont(14px,400,mainFont);
                    color:#869BAD;
                }
            }
        }
    }
    .emailinput{
        position: relative;
        button{
            position:absolute;
            width: 120px;
            height: 50px;
            background-color:  #001E7C;
            color:#fff;
            right:0;
            top:0;
            border:0;
            text-transform: uppercase;
            @include myfont(14px,700,mainFont);
            
        }
        input{
            border:0;
            width: 100%;
            height: 50px;
            background-color: #fff;
            padding-left: 13px;
            @include myfont(14px,400,mainFont);

            &::placeholder{
                @include myfont(14px,400,mainFont);
                color:#869BAD;
                
            }
        }
        p{
            @include myfont(14px,400,mainFont);
            color:#869BAD;
            margin-top: 14px;
        }
    }
    .copyright{
        height: 66px;
        border-top: 1px solid rgba(134, 155, 173, 0.5);
        @include media(xsmDevice){
            height: 130px;
            padding-top: 15px;
        }
        h6{
            @include myfont(12px,400,mainFont);
            color:#869BAD;
            line-height: 66px;
            @include media(xsmDevice){
                height: 28px;
            }
        }
    }
}
.aboutusmain{
    padding-top: 100px;
    @include media(xsmDevice){
        padding-top: 50px;
    }
    .ourmission{
        height: 248px;
        width: 100%;
        background-color: #F0F4FF;
        padding: 48px 61px;
        margin-top: 60px;
        @include media(xsmDevice){
            height: unset;
            padding-bottom: 0;
        }

    }
}
.ourserviceaboutpage{
        margin-top: 100px!important;

        @include media(xsmDevice){
            margin-top: 65px!important;
        }
    }
    .lleft{
        img{
            margin-right: 30px;
            width: 60px;
        }              
    }
    .rright{
        h4{
            margin-bottom: 20px;
        }
    }
    .ourservicecontent{
        h4{
            @include myfont(20px,700,mainFont);
            color:#001223;
        }
        
    }



.whychooseipe{
    padding-top: 100px;
    @include media(xsmDevice){
        padding-top: 20px!important;
    }
    .subheading{
        h3{
            padding-bottom: 100px;
            @include media(xsmDevice){
                padding-bottom: 50px;
            }
        }
    }
    .wcubox{
        background-color: #F0F4FF;
        height: 170px;
        width: 100%;
        padding: 49px 25px 21px 26px;
        position:relative;
        margin-bottom: 60px;
        @include media(xsmDevice){
            height: 244px;
        }
        &.wsubox{
            height: 230px;
        }
        .innersm{
            position:absolute;
            left:26px;
            top:-30px;
            width: 60px;
            height: 60px;
            background-color: #fff;
            box-shadow: 0px 3px 10px 0px rgba(0, 30, 124, 0.10);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h5{
            @include myfont(20px,700,mainFont);
            color:#001223;
        }
        p{
            @include myfont(16px,500,mainFont);
            color:#001223;
            padding-top: 6px;
            @include media(xsmDevice){
                @include myfont(12px,500,mainFont);
            }
        }
    }
}
.header3{
    margin-top: 0;
}
.studyinusamain{
    padding-top: 80px;
    @include media(xsmDevice){
        padding-top: 0!important;
    }
}

.whystdus{
    padding-top: 100px;
    .subheading{
        h3{
            padding-bottom: 20px;
        }
        p{
            width: 749px;
            margin:0 auto;
            @include media(xsmDevice){
                width: unset;
            }
        }
    }
}

.everythingyntkcards{
    .subheading{
        padding-bottom: 58px;
    }
    .eyntkboxall{
      .eyntkbox{
        height: 250px;
        width: 100%;
        border:1px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #E8E8E8;
        padding:13px;
        @include media(xsmDevice){
            margin-bottom: 30px;
        }
        .wrap{
            text-align: center;
        }
        h4{
            @include myfont(20px,700,mainFont);
            color:#001223;
            padding:15px 0;
        }
        p{
            @include myfont(16px,500,mainFont);
            color:#869BAD;
            
        }
      }
    }
  }

  .evrthngabtstdusa{
    .subheading{
        padding-top: 100px;
        @include media(xsmDevice){
            padding-top: 50px!important;
        }
    }

    .accordion{
        margin-top: 50px;

        .accordion-button:not(.collapsed) {
            @include myfont(20px,600,mainFont);
            color: #001223;
            background-color: #fff;
            box-shadow:none;
        }
        .accordion-button {
            @include myfont(20px,600,mainFont);
            color: #001223;
            background-color: #fff;
            box-shadow:none;
        }
        .accordion-item{
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #E8E8E8;
            background: #FFF;
        }
        .accordion-body{
            ul{
                list-style-type: disc;
                li{
                    color: #869BAD;
                    @include myfont(16px,500,mainFont);
                }
            }
        }
    }

  }

  .connectwithexpert{
    padding: 53px 60px;
    border-radius: 5px;
    background: #F0F4FF;
    margin-top: 100px;
    margin-bottom: 110px;
    @include media(xsmDevice){
        padding: 53px 20px;
    }
    .subheading{
        p{
            margin-top: 25px;
        }
        h3{
            @include media(xsmDevice){
                line-height: 25px!important;
            }
        }
    }
    .mybutton2{
        display: flex;
        justify-content: center;
        align-items: center;
        button{

            border-radius: 79px;
            
            background: #006FDD;
            
            width: 190px;
            height: 54px;
            align-items: center;
            gap: 10px;
            border:0;
            @include myfont(16px,700,mainFont);
            color:#F0F4FF;
        }
    }
  }

  .newsandeventsmain{
    padding-top: 100px;
    @include media(xsmDevice){
        padding-top: 50px!important;
    }
  }

  .necards{
    .necard{
        height: 558px;
        border-radius: 5px;
        background: #F0F4FF;
         position:relative;
         margin-bottom: calc(var(--bs-gutter-x));
        .necardsbody{
            padding: 15px 15px 20px 15px;
           
            h4{
                @include myfont(20px,700,mainFont);
                color:#001223;
                
            }
            p{
                @include myfont(16px,500,mainFont);
                color:#869BAD;
                margin-top: 15px;
            }
            .netimings{
                margin-top: 60px;
                width:100%;
                position:absolute;
                left:50%;
                transform:translateX(-50%);
                bottom:20px;
                padding-left: 15px;
            }
            .netimingsbar{
                
                height: 33px;
                img{
                    width: 25px;
                    height: 25px;
                    margin-right: 17px;
                }
                display: flex;
                align-items: center;
            }
        }
    }
  }

  .newspagebottomheader{
    margin-top: 100px;
    @include media(xsmDevice){
        margin-top: 50px!important;
    }
  }

  .nedbanner{
    background: url(../images/nedbanner.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    &.mobile{
        background: url(../images/nedetailbannermb.png);
        width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    }
  }
  .nedmain{
    padding-top: 50px;
    .subheading{
        h3{
            @include myfont(40px,700,mainFont);
            color:#001223;
            @include media(xsmDevice){
                @include myfont(20px,700,mainFont);
                line-height: 30px;            }
        }
    }
    .neform{
        border-radius: 5px;
        background: #F0F4FF;
        padding:24px 20px 24px 20px;
        text-align: center;
            }
            h6{
                @include myfont(25px,700,mainFont);
                color:#001E7C;
                margin-bottom: 25px;
                
            }
    form{
        input{
            border-radius: 5px;
            background: #fff;
            display: inline-flex;
            padding: 11px 100px 10px 13px;
            align-items: center;
            width: 100%;
            border:0;
            margin-bottom: 20px;
            @include myfont(14px,400,mainFont);
        }
    }
    .bannerformbutton{
                
        button{
            width: 100%;
            height: 40px;
            margin:0 auto;
            border-radius: 5px;
            background: #006FDD;
            display: flex;
            justify-content: center;
            height: 40px;
            padding: 16px 32px;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            @include myfont(16px,700,mainFont);
            color:#F0F4FF;
            border:0;
            margin-top: 24px;
        }
    }
    .netimings{
      margin-top: 60px;
      width:100%;
      
      
      
      
      padding-left: 15px;
  }
  .netimingsbar{
      
      height: 33px;
      img{
          width: 25px;
          height: 25px;
          margin-right: 17px;
      }
      display: flex;
      align-items: center;
      p{
        margin-bottom: 0;
        @include myfont(16px,500,mainFont);
        color:#001223;
      }
  }
  }


  .stdabrdipe{
    padding-top: 100px;
    @include media(xsmDevice){
        padding-top: 50px!important;
    }
  }

  .contactpage{
    .map{
        margin-top: 55px;
        @include media(xsmDevice){
            margin-bottom: 40px;
        }
    }
    .cbar{
        display: flex;
        align-items: center;
        padding: 25px;
        .detail{
            h4{
                margin-bottom: 0;
                @include myfont(20px,700,mainFont);
                margin-bottom: 6px;
            }
            p{
                margin-bottom: 0;
                @include myfont(16px,400,mainFont);
                color:#869BAD;
            }
        }
        img{
            margin-right: 22px;
        }
    }
    .neform{
        border-radius: 5px;
        background: #F0F4FF;
        padding:44px 20px 24px 20px;
        text-align: center;
            }
form{
        input{
            border-radius: 5px;
            background: #fff;
            display: inline-flex;
            padding: 11px 100px 10px 13px;
            align-items: center;
            width: 100%;
            border:0;
            margin-bottom: 20px;
            @include myfont(14px,400,mainFont);
        }
    }
    select{
        height: 42px;
        border:0;
        margin-bottom: 20px;
        @include myfont(14px,400,mainFont !important);
        color:#869BAD!important;
        &>option{
            
            @include myfont(14px,400,mainFont !important);
            color:#869BAD!important;
            p{
            }
        }
    }
    .contactformbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        button{

            border-radius: 5px;
            background: #006FDD;
            margin-top: 50px;
            width: 100%;
            height: 45px;
            align-items: center;
            gap: 10px;
            border:0;
            @include myfont(16px,700,mainFont);
            color:#F0F4FF;
            img{
                margin-left: 10px;
                margin-top: -3px;
            }
        }
    }
  }

  .drpdwn{
    position: fixed;
    width: 950px;
    height: 290px;
    background-color: #006FDD;
    left:50%;
    
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.1s ease-in-out;
    padding: 55px;
    z-index: 999;
    .drpitem{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .text{
            p{
                @include myfont(16px,700,mainFont);
                color:#fff;
                text-transform: uppercase;
                margin-bottom: 0;
                margin-left: 15px;
            }
        }
    }
  }


  .studyinusamain{
    .subheading{
        p{
            margin-top: 15px;
            margin-bottom: 0;
        }
    }
  }