@import './mixins';
h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}
.active{ 
  
  color:#006FDD !important;
}
.navbar{
  z-index: 999;
  .nav-link.active{ 
    
    color:#006FDD !important;
}
  .nav-item{
    &:hover{
      a{
        color:#006FDD;
        font-weight: 500 !important;
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
input{
  &:focus-visible{
    outline:none!important;
  }
}
.navbar{
  background-color: #fff;
  height: 80px;
  border-bottom: 1px solid #F0F4FF;
  @include media(xsmDevice){
    height: 100px!important;
  }
  .navbar-collapse{
    @include media(xsmDevice){
      background: #fff;
      z-index: 999;

    }
  
  }
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none!important;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
   border-color: transparent; 
}

.desktop{
  @include media(xxlgDevice){
    display: block;
  }
  @include media(xlgDevice){
    display: block;
  }
  @include media(lgDevice){
    display: block;
  }
  @include media(xsmDevice){
    display: none;
  }
  @include media(smDevice){
    display: none;
  }
  @include media(mdDevice){
    display: none;
  }
}
.mobile{
  @include media(xxlgDevice){
    display: none;
  }
  @include media(xlgDevice){
    display: none;
  }
  @include media(lgDevice){
    display: none;
  }
  @include media(xsmDevice){
    display: block;
  }
  @include media(smDevice){
    display: block;
  }
  @include media(mdDevice){
    display: block;
  }
}

.myContainer{
    width: 1050px;
    margin:0 auto;

    @include media(lgDevice){
        width: 960px;
        margin: 0 auto;
    }
    @include media(xsmDevice){
      width: calc(100% - 30px);
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;
    }
}
.subheading{
    h3{
        @include myfont(40px,900,mainFontBlack);
        color:#001E7C;
        line-height: 52px;
        @include media(xsmDevice){
          @include myfont(20px,900,mainFontBlack);
        }
    }
    p{
        @include myfont(16px,500,mainFont);
        color: #869BAD;
        margin-bottom: 40px;
        @include media(xsmDevice){
          @include myfont(14px,500,mainFontBlack);
        }
    }
}
.next{
    width: 40px;
    height: 40px;
    background: #006FDD;

    transition:0.4s;
    border-radius: 50%;
    font-size: 20px;
    color:#fff;

    position:absolute;
    right:-10px;
    top:50%;
    transform: translateY(-50%);
    
    text-align: center;
    z-index: 888;
  
  }
  .next::before{
    line-height: 40px;
  }
  .prev{
    width: 40px;
    height: 40px;
    background-color: #869BAD;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    transition:0.4s;

    position:absolute;
    left:-20px;
    top:50%;
    transform: translateY(-50%);
    
    text-align: center;
    z-index: 888;
    @include media(xsmDevice){
      display: none!important;
    }
  
  }
  .prev::before{
    line-height:40px ;
  }
  
.topslider{
  // .prev.slick-disabled:last-child 
  .next.slick-disabled:last-child
  {
    background-color: #869BAD!important; /* Set your desired color for the last slide arrow */
  }
  .prev.slick-enabled{
    background-color: #006FDD!important;
  }
}
  .ftsmheading{
    margin-top: 35px;
    p{
        @include myfont(16px,700,mainFont);
        color:#001E7C;
    }
  }
  .whatsapp {
	position: fixed !important;
  position: -webkit-sticky;
	width: 80px;
	height: 80px;
	// left: calc(100% - 120px);
  right:40px;
	bottom: 40px;
	background: #25D366;
	border-radius: 85px;
	z-index: 999;
	/* left: 0; */
    text-align: center;
    img{
        width: 56px;
        height: 56px;
        margin-top: 12px;
    }
}

.pdt100{
  padding-top: 100px;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
}
.checkbox input {
  position: absolute;
  width: 0px;
  left: 50px;
  
  opacity: 0;
  cursor: pointer;
}

.checkbox .checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 39px !important;
  height: 25px!important;
  background: white;
  border-radius: 3px;
  outline: 1px solid #acacac;
  transition: all 0.2s ease;
  margin-right: 12px;
}

.checkbox:hover .checkmark {
  background: #f4f4f5;
  transition: all 0.2s ease;
  border:0;
}

.checkbox input:checked ~.checkmark {
  background: #3f7fed;
  outline: 1px solid rgb(95, 126, 240);
}
.checkbox .checkmark::after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  top: 40%;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: all 0.2s ease;
}
input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none;
  background-color: #fff; /* Specify the desired background color */
  border-radius: 2px; /* Add border-radius for a rounded checkbox appearance */
  margin-right: 6px; /* Add some spacing between the checkbox and label */
}

.checkbox input:checked~.checkmark::after {
  opacity: 1;
  transition: all 0.2s ease;
}
label{
  @include myfont(16px,500,mainFont);
  color:#869BAD;
}

.mybutton,.viewmorebutton{
  button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p{
    margin-bottom: 0;
    transition: 0.2s ease-in-out;
    @include myfont(16px,700,mainFont);
  }
  img{
    transition:0.2s ease-in-out;
  }
  &:hover{
    img{
      margin-left: 8px;
    }
    p{
      margin-right: 8px;
    }
  }
}

.underconstructionmain{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  a{
    color: #006FDD;
    text-decoration: underline!important;
  }
}